<div class="container mt-10 border-r border-gray-200 w-full">
  <a href="{{ data.news.0.link }}" >
    <div class="news-w-full w-full">
      <div class="content-news-w-full">
        <div class="tag-news-w-full">{{ data.news.0.tags }} Acá va el Tag</div>
        <div class="title-news-w-full">Titulo: {{ data.news.0.title }}<span><p>Contenido {{data.news.0.content}} </p></span></div>
      </div>  
    </div>
  </a>
</div>