{% for news in data %}

    <a href="{{ news.link }}">
      <img alt="{{ news.image_alt }}" src="{{ file_url(news.image_url) }}" class="border border-gray-200"/>
      <div class="title titleBig">{{ news.title }}</div>
    </a>

{% endfor %}
