<div class="newsContainer">

  <div class="container principalMain ">

    {% for news in data.news %}

      {% if(news.show_as == 3) %}
        {% include '@lanacion/paragraphs/news-list/3-news-75-25.html.twig' with {data: news} %}
      {% endif %}

      {% if(news.show_as == 4) %}
        {% include '@lanacion/paragraphs/news-list/3-news-33.html.twig' with {data: news} %}
      {% endif %}

      {% if(news.show_as == 5) %}
        {% include '@lanacion/paragraphs/news-list/opinion.html.twig' with {data: news} %}
      {% endif %}

    {% endfor %}
  </div>

  {% if(data.show_ads.0) %}
    <div class="adds">
      <div class="mockupAd text-black">
        <p>Espacio Cedido para la publicidad</p>
      </div>
    </div>
  {% endif %}

</div>
